@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="text-center">
    <h1 class="display-4">Transaction History</h1>
    <p>Here you can see all incoming and outgoing transactions to your account</p>
</div>
