<div class="err_page">
		<div class="err_page_left">
			<img src="https://github.com/abhinanduN/codepen/blob/master/err.png?raw=true" width=360px height=250px/>
		</div>
		<div class="err_page_right">
			<h1>404</h1>
			<h4>OOPS. Looks like the page you're looking for no longer exists</h4>
			<p>Don't worry. Since you're valuable to us we will bring you back to safety</p>
			<button class="err_btn" onclick="location.href = '@(Url.Action("Index", "Home"))'">Back to home</button>
		</div>
</div>